<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Prompt&display=swap" rel="stylesheet">
    <title>ToDo App</title>
</head>
<body>

    <h3>Category Name</h3>
    <div class="todoApp-Container">
        <div class="taskBox">
            <button class="addTask">Agregar Tarea</button>
        </div>
    </div>

    <div class="modal-container">
        <div class="ModalBox">
            <button class="closeBtn">x</button>
            <button class="addSubTask">Agregar SubTarea</button>
            <br> <br>
            <div class="subTask"></div>
        </div>
    </div>

    
</body>
<script src="../scripts/task.js"></script>
